.bodyWrapper {
  margin: 0 auto;
  padding: 0 8px;
  max-width: 39.875rem;
}
.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  top: -25px;
}

input[type="text"] {
  border-radius: 8px;
  height: 3.375rem;
  min-width: 18.75rem;
  width: 100%;
  padding: 0 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
  border: none;
}

input[type="text"]:hover {
  outline: 1px solid var(--purple);
}

input[type="button"] {
  padding: 0 6px;
  height: 3.375rem;
  width: 5.625rem;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
}

input[type="button"]:hover {
  background: var(--blue);
  transition: 0.1s;
}

input[type="button"]:active {
  box-shadow: inset 0 0 8px 2px #0000008a;
  outline: none;
  
}

.taskCountRow {
  display: flex;
  justify-content: space-between;
}

.taskCount {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}
.titleBlue {
  color: var(--blue);
}

.titlePurple {
  color: var(--purple);
}

.taskCountNumber {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 0 8px;
  background: var(--gray-400);
  width: 1.5625rem;
  height: 1.1875rem;
  border-radius: 20px;
}

.taskArea {
  border-top: 1px solid var(--gray-300);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.taskArea > img {
  margin: 1rem;
}
